main{
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    color: #fff;
    margin: auto;
    padding-top: 20vh;
    padding-bottom: 30vh;
    padding-left: 100px;
    padding-right: 100px;
    background-color: #252525;
}
.perfil{
    width: 350px;
}
.image{
   display: flex;
   flex-direction: column;
   justify-content: center;
}
.brief-presentation{
   display: flex;
   flex-direction: column;
   justify-content: center;
   text-align: justify;
   width: 600px;
}
.presentation{
    color: rgb(137, 74, 195);
    font-weight: 500;
}
.my-github{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 150px;
    background-color: #000000;
    height: 50px;
    padding: 10px;
    border-radius: 25px;
}
.github{
    margin-top: 20px;
    display: flex;
    align-items: center;
}
.fa-github{
    font-size: 30px;
}